<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>recycleBin</title>
    <link rel="stylesheet" href="/file/css/base.css">
    <link rel="stylesheet" href="/file/css/pagination.css">
    <link rel="stylesheet" href="/file/css/recycleBin.css">
    <script src="/file/js/jquery.js"></script>
    <script src="/file/js/pagination.js"></script>
</head>
<body>
    <div class="container banner">
        <div class="header">
            <ul class="clearfix">
                <li>当前目录：<span style="color:red;">回收站</span></li>
            </ul>
        </div>
        <div class="content clearfix">
            <div class="left">
                <div class="title" style="color:rgb(100,100,100);">文件夹区:</div>
                <div id="pagination-container"></div>
                <div id="data-container"></div>
            </div>
            <div class="right">
                <div class="title" style="color:rgb(100,100,100);">文件区:</div>
                <div id="pagination-container2"></div>
                <div id="data-container2"></div>
            </div>
        </div>
    </div>
    <script src="/file/js/recycle.js"></script>
</body>
</html>