
html,
body {
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, .5);
}

.wrapper {
    height: 490px;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9F9EC;
    border-radius: 14px;
}

#password,
#username {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #F9F9EC;
    text-indent: 15px;
    font-size: 16px;
    letter-spacing: 2px;
    width: 150px;
}

.username,
.password {
    position: absolute;
    width: 220px;
    height: 40px;
    left: 108px;
    font-size: 18px;
}

.username {
    top: 160px;
}

.password {
    top: 240px;
}

.title {
    position: absolute;
    top: 50px;
    left: 157px;
    font-size: 20px;
    font-weight: bold;
}

.btnArea {
    position: absolute;
    top: 340px;
    left: 80px;
    height: 120px;
    width: 320px;
    /* border: 1px solid black; */
}

.btnArea button {
    height: 38px;
    width: 120px;
    border-radius: 5px;
    color: #fff;
    background-color: #20a0ff;
    border-width: 0px;
    letter-spacing: 8px;
    text-align: center;
    font-size: 16px;
}

.btnArea button:nth-of-type(2) {
    margin-left: 50px;
}

#tip {
    height: 50px;
    width: 260px;
    /* border: 1px solid black; */
    position: absolute;
    top: 280px;
    left: 89px;
    /* border: 10px solid black; */
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: green;
}